{% extends 'layouts/base.html' %}


{% block stylesheets %}
    <!-- Emoji CSS Area -->
    <link rel="stylesheet" href="/static/assets/css/emojionearea.css"/>
{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="title">Создание поста</h3>
                </div>
                <div class="card-body">
                    {% load crispy_forms_tags %}
                    <form id="post_form" method="post" action="" enctype="multipart/form-data">

                        <div class="row">
                            {% csrf_token %}
                            <!-- Тип поста -->
                            <div class="col-md-8 px-md-3">
                                <div class="form-group">
                                    <h4><b>Выберите тип сообщения:</b></h4>
                                    {{ form.post.post_type }}

                                </div>
                            </div>

                            <!-- Заголовок -->
                            <div class="col-md-12 px-md-3">
                                <div class="form-group">
                                    <h4><b>Заголовок сообщения: </b><small>
                                        <i type="button" class="fa fa-question" data-toggle="tooltip"
                                           data-placement="top"
                                           title="Необходим для более понятного добавления поста в расписание">
                                        </i></small></h4>
                                    {{ form.post.name }}
                                </div>
                            </div>

                            <!-- Текст -->
                            <div class="col-md-12 px-md-3">
                                <div class="form-group">
                                    <h4><b>Текст сообщения: </b><small>
                                        <i type="button" class="fa fa-question" data-toggle="tooltip"
                                           data-placement="top" title="Можете добавлять в тескт Emoji">
                                        </i></small></h4>
                                    {{ form.post.text }}
                                </div>
                            </div>

                            <!-- Кнопки -->
                            <div class="col-md-12 px-md-3">
                                <div class="form-group">
                                    <div class="collapse" id="collapseBtn">
                                        <div class="card card-body">
                                            <p class="badge badge-info">Можно добавить до пяти кнопок</p>
                                            <div class="row">
                                                <div class="col-4 col-sm-3">
                                                    {{ form.button.name }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>
                                        <a class="col-md-4 btn btn-primary" data-toggle="collapse" href="#collapseBtn"
                                           role="button"
                                           aria-expanded="false" aria-controls="collapseBtn">
                                            <span id="add-btn"
                                                  onclick="addReferenceHandler(add_btn, no_btn)">+ Добавить кнопки</span>
                                            <span id="no-btn"
                                                  onclick="addReferenceHandler(no_btn, add_btn)"
                                                  style="display: none">- Добавить кнопки</span>
                                        </a>
                                    </p>

                                </div>
                            </div>

                            <!-- Ссылки -->
                            <div class="col-md-12 px-md-3">
                                <div class="form-group">
                                    <p>
                                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseReference"
                                           role="button"
                                           aria-expanded="false" aria-controls="collapseReference">
                                            <span id="add-reference"
                                                  onclick="addReferenceHandler(add_reference, no_reference)">+ Добавить ссылку</span>
                                            <span id="no-reference"
                                                  onclick="addReferenceHandler(no_reference, add_reference)"
                                                  style="display: none">- Добавить ссылку</span>
                                        </a>
                                    </p>
                                    <div class="collapse" id="collapseReference">
                                        <div class="card card-body">
                                            {{ form.reference.reference }}
                                            {{ form.reference.text }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Выбор Бота -->
                            <div class="col-md-8 px-md-3">
                                <div class="form-group">
                                    <h4><b>Выберите бота: </b><small>
                                        <i type="button" class="fa fa-question" data-toggle="tooltip"
                                           data-placement="top" title="Выберите из списка ваших ботов">
                                        </i></small></h4>
                                    {{ form.post.bot }}
                                </div>
                            </div>
                        </div>

                        <!-- Toggle-Collapse     для Медиа Файлов -->
                        <a class="btn btn-social" data-toggle="collapse" href="#collapseMedia" role="button"
                           aria-expanded="false" aria-controls="collapseExample">
                            Добавить Медиа Файлы
                        </a><small>
                        <i type="button" class="fa fa-question" data-toggle="tooltip"
                           data-placement="top" title="Добавляйте к своему посту фото, видео, музыку и различные документы в т.ч. rar и zip файлы.
                                                       Максимум 10 вложений в один пост">
                        </i></small>

                        <div class="collapse" id="collapseMedia">
                            <div class="row">
                                <div class="col-md-8 px-md-3">
                                    <a id="photoCollapse" class="btn btn-social" data-toggle="collapse"
                                       href="#collapsePhoto" role="button"
                                       aria-expanded="false" aria-controls="collapseExample">
                                        + Фото</a>
                                    <div class="collapse" id="collapsePhoto">
                                        {{ form.photo.photo_1 }}
                                        {{ form.photo.photo_2 }}
                                        {{ form.photo.photo_3 }}
                                        {{ form.photo.photo_4 }}
                                        {{ form.photo.photo_5 }}
                                    </div>

                                    <a id="videoCollapse" class="btn btn-social" data-toggle="collapse"
                                       href="#collapseVideo" role="button"
                                       aria-expanded="false" aria-controls="collapseExample">
                                        + Видео
                                    </a>
                                    <div class="collapse" id="collapseVideo">
                                        {{ form.video.video }}
                                    </div>

                                    <a id="MusicCollapse" class="btn btn-social" data-toggle="collapse"
                                       href="#collapseMusic" role="button"
                                       aria-expanded="false" aria-controls="collapseExample">
                                        + Музыка
                                    </a>
                                    <div class="collapse" id="collapseMusic">
                                        {{ form.music.music }}
                                    </div>

                                    <a id="docCollapse" class="btn btn-social" data-toggle="collapse"
                                       href="#collapseDocs" role="button"
                                       aria-expanded="false" aria-controls="collapseExample">
                                        + Документы
                                    </a>
                                    <div class="collapse" id="collapseDocs">
                                        {{ form.document.document }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <button class="btn btn-primary" type="submit" name="submit">Подтвердить</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="load"></div>
            <div id="text_load"></div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    <script src="https://cdn.rawgit.com/yuku-t/jquery-textcomplete/v1.3.4/dist/jquery.textcomplete.js"></script>
    <script>

        $('[name*="text"]').emojioneArea()
        $('[id*="id_button-name"]').emojioneArea()

        const add_reference = document.getElementById('add-reference');
        const add_btn = document.getElementById('add-btn');
        const no_reference = document.getElementById('no-reference');
        const no_btn = document.getElementById('no-btn');

        const selectors = document.getElementsByTagName('select');
        for (let i = 0; i <= selectors.length; i++) {
            selectors[i].setAttribute('class', 'rounded')
        }

        function photoInputHandler(inputs, labels) {
            for (let index = 0; index < inputs.length; ++index) {
                const input = inputs[index];
                input.addEventListener('change', (e) => {
                    try {
                        let item = inputs[index + 1];
                        item.setAttribute('style', '');
                    } catch (e) {
                        console.log(e);
                    }
                    let tgt = e.target || window.event.srcElement,
                        files = tgt.files;

                    load.innerHTML = '';

                    if (files && files.length) {
                        for (let i = 0; i < files.length; i++) {
                            let $self = files[i],
                                fr = new FileReader();
                            fr.onload = function (e) {
                                load.insertAdjacentHTML('beforeEnd', `<img class="img-thumbnail" width="150px" height="120px" src="${e.srcElement.result}"/>`);
                            }
                            fr.readAsDataURL(files[i]);
                        }
                    }
                });

            }
        }

        function addReferenceHandler(span, span2) {
            span.setAttribute('style', 'display: none')
            span2.setAttribute('style', 'display: block')
        }


    </script>
{% endblock javascripts %}


