{% extends 'layouts/base.html' %}

{% block stylesheets %}
    <!-- Emoji CSS Area -->
    <link rel="stylesheet" href="/static/assets/css/emojionearea.css"/>

{% endblock stylesheets %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            {% if messages %}
                <div class="rounded alert alert-success col-md-12">
                    {% for message in messages %}
                        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}><i
                                class="fa fa-check"></i> {{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="card">

                <div class="card-header">
                    <h3 class="title">Редактирование поста</h3>
                </div>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        <div class="row">
                            {% load crispy_forms_tags %}
                            {% csrf_token %}
                            <div class="col-md-12 px-md-3">
                                <div class="form-group">
                                    <h4><b>Название поста:</b></h4>
                                    {{ postForm.name }}
                                </div>
                            </div>
                            <div class="col-md-12 px-md-3">
                                <div class="form-group">
                                    <h4><b>Текст:</b></h4>
                                    {{ postForm.text }}
                                </div>
                            </div>
                            <div class="col-md-12 px-md-3">
                                <div class="form-group">
                                    <h4><b>Бот:</b></h4>
                                    {{ postForm.bot }}
                                </div>
                            </div>
                            <div class="col-md-12 px-md-3">
                                <div class="form-group">
                                    <h4><b>Тип поста:</b></h4>
                                    {{ postForm.post_type }}
                                </div>
                            </div>
                            <div class="col-md-12 px-md-3">
                                <div class="row">
                                    <div class="px-md-3">
                                        <a class="btn btn-social" data-toggle="collapse" href="#collapseBtn"
                                           role="button"
                                           aria-expanded="false" aria-controls="collapseBtn">
                                            Кнопки
                                        </a>
                                        <div class="collapse" id="collapseBtn">
                                            <div class="row">
                                                {{ formsetB.management_form }}
                                                {% for form in formsetB %}
                                                    <div class="col-3">
                                                        {{ form }}
                                                    </div>
                                                {% endfor %}
                                            </div>

                                        </div>
                                        <a class="btn btn-social" data-toggle="collapse" href="#collapseRef"
                                           role="button"
                                           aria-expanded="false" aria-controls="collapseExample">
                                            Ссылка
                                        </a>
                                        <div class="collapse" id="collapseRef">
                                            {{ formsetR.management_form }}
                                            {% for form in formsetR %}
                                                {{ form }}
                                            {% endfor %}
                                        </div>
                                        <a id="photoCollapse" class="btn btn-social" data-toggle="collapse"
                                           href="#collapsePhoto" role="button"
                                           aria-expanded="false" aria-controls="collapseExample">
                                            Фото</a>
                                        <div class="collapse" id="collapsePhoto">
                                            {{ formsetI.management_form }}
                                            {% for form in formsetI %}
                                                {{ form }}
                                            {% endfor %}
                                        </div>
                                        <a id="videoCollapse" class="btn btn-social" data-toggle="collapse"
                                           href="#collapseVideo" role="button"
                                           aria-expanded="false" aria-controls="collapseExample">
                                            Видео
                                        </a>
                                        <div class="collapse" id="collapseVideo">
                                            {{ formsetV.management_form }}
                                            {% for form in formsetV %}
                                                {{ form }}
                                            {% endfor %}
                                        </div>

                                        <a id="MusicCollapse" class="btn btn-social" data-toggle="collapse"
                                           href="#collapseMusic" role="button"
                                           aria-expanded="false" aria-controls="collapseExample">
                                            Музыка
                                        </a>
                                        <div class="collapse" id="collapseMusic">
                                            {{ formsetM.management_form }}
                                            {% for form in formsetM %}
                                                {{ form }}
                                            {% endfor %}
                                        </div>

                                        <a id="docCollapse" class="btn btn-social" data-toggle="collapse"
                                           href="#collapseDocs" role="button"
                                           aria-expanded="false" aria-controls="collapseExample">
                                            Документы
                                        </a>
                                        <div class="collapse" id="collapseDocs">
                                            {{ formsetD.management_form }}
                                            {% for form in formsetD %}
                                                {{ form }}
                                            {% endfor %}
                                        </div>


                                    </div>
                                    <div class="col-md-12 px-md-3">
                                        <button class="btn btn-primary" type="submit" name="submit">
                                            Подтвердить
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    <script src="https://cdn.rawgit.com/yuku-t/jquery-textcomplete/v1.3.4/dist/jquery.textcomplete.js"></script>
    <script>
        $('[id*="id_form-0-name"]').emojioneArea()
        $('[id*="id_form-1-name"]').emojioneArea()
        $('[id*="id_form-2-name"]').emojioneArea()
        $('[id*="id_form-3-name"]').emojioneArea()
        $('[id*="id_form-4-name"]').emojioneArea()


        const photo_inputs = document.querySelectorAll('input[name$="photos"]');
        const photo_labels = document.querySelectorAll('label[for$="photos"]');
        const music_inputs = document.querySelectorAll('input[name$="music"]');
        const music_labels = document.querySelectorAll('label[for$="music"]');
        const video_inputs = document.querySelectorAll('input[name$="video"]');
        const video_labels = document.querySelectorAll('label[for$="video"]');
        const document_inputs = document.querySelectorAll('input[name$="document"]');
        const document_labels = document.querySelectorAll('label[for$="document"]');
        const btn_inputs = document.querySelectorAll('input[name$="name"]');
        const btn_labels = document.querySelectorAll('label[for$="name"]');

        function inputHandler(inputs, labels) {
            for (let index = 0; index < inputs.length; ++index) {
                const input = inputs[index];
                const label = labels[index];
                label.setAttribute('style', 'display:none')
            }
        }

        inputHandler(photo_inputs, photo_labels)
        {#inputHandler(btn_inputs, btn_labels)#}

        const a_to_img = document.querySelectorAll('a[href*="/media/"]')
        for (let index = 0; index < a_to_img.length; ++index) {
            const link = a_to_img[index]
            const image = link.textContent
            link.textContent = ''
            link.insertAdjacentHTML('afterbegin', `<img class="img-thumbnail" width="60px" height="45px" src="{{ MEDIA_URL }}/${image}"/>`)
        }

        const selectors = document.getElementsByTagName('select');
        for (let i = 0; i <= selectors.length; i++) {
            selectors[i].setAttribute('class', 'rounded')
        }
    </script>

{% endblock javascripts %}