{% extends "layouts/spam-base.html" %}
{% block title %} Аккаунты для рассылки {% endblock %}

{% block content %}
    <div class="p-2 m-1">
        <h1> Мои Аккаунты </h1>
        <p></p>
        <a href="create">
            <button class="btn btn-primary">+ Загрузить аккаунт</button>
        </a>
    </div>
    <div class="row">
        {% for acc in accounts %}
            <div class="col-sm-4 mb-3 mb-sm-0">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ acc.datetime }}</h5>
                        <p class="card-text">{{ acc.text }}</p>
                        <a href="{{ acc.id_account }}" class="btn btn-primary">Подробнее</a>
                    </div>

                    <div class="p-3">
                        <a href="{{ acc.id_account }}/update/">
                            Редактировать <i class="fa fa-edit"></i>
                        </a>
                        ||
                        <a href="{{ acc.id_account }}/delete/">
                            Удалить <i class="fa fa-trash"></i>
                        </a>
                    </div>

                </div>


            </div>
        {% endfor %}
    </div>
{% endblock content %}

{% block stylesheets %}{% endblock stylesheets %}
{% block javascripts %}{% endblock javascripts %}