{% extends "layouts/base.html" %}
{% block title %} Посты {% endblock %}

{% block content %}
    <h1> Мои TG Боты </h1>
    <div class="p-2 m-1">
        <a href="bot_create">
            <button class="btn btn-primary">+ Добавить Бота</button>
        </a>
    </div>
        {% for bot in bots %}
        <div class="col-12">
            <div class="card card-chart">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h4 class="card-title">{{ bot.name }}</h4>
                            <p class="card-text">{{ bot.token }}</p>
                        </div>
                    </div>
                </div>
                <br/>
                    <a href="bot_update/{{ bot.id }}">Update Bot</a>
                    <br/>
                    <a href="bot_delete/{{ bot.id }}">Delete Bot</a>
                    <br/>
            </div>

        </div>
        {% endfor %}
{% endblock content %}

{% block stylesheets %}{% endblock stylesheets %}
{% block javascripts %}{% endblock javascripts %}
