{% extends "layouts/base.html" %}
{% block title %} Посты {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% if messages %}
        <div class="rounded alert alert-success col-md-6">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}><i
                        class="fa fa-check"></i> {{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="p-2 m-1">
        <h1> Мои Посты </h1>
        <a href="post_create">
            <button class="btn btn-primary">+ Добавить Пост</button>
        </a>
    </div>
    {% for post in posts %}
        <div class="col-8">
            <div class="card card-chart">
                <div class="card-header ">
                    <div class="row">
                        <div class="col-sm-6 text-left">
                            <h4 class="card-title">{{ post.name }}</h4>
                            <p class="card-text">{{ post.text }}</p>
                        </div>
                    </div>
                </div>
                <div class="container">

                    {% for photo in photos %}
                        <a href="/post_photo_update/{{ photo.id }}"><img class="img-thumbnail" width="75px" height="60px" src="{{ MEDIA_URL }}{{ photo.photos }}"></a>
                    {% endfor %}


                    {% if post.is_active %}
                        <i class="bg-primary tim-icons icon-check-2"></i>
                    {% else %}
                        <i class="bg-danger tim-icons icon-simple-remove"></i>
                    {% endif %}
                    <br/>
                    <a href="post_update/{{ post.id }}">Update</a>
                    <br/>
                    <a href="post_delete/{{ post.id }}">Delete</a>
                    <br/>

                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
