{% extends "layouts/base.html" %}
{% block title %} Посты {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    {% if messages %}
        <div class="rounded alert alert-success col-md-6">
            {% for message in messages %}
                <p{% if message.tags %} class="{{ message.tags }}"{% endif %}><i
                        class="fa fa-check"></i> {{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <div class="p-2 m-1">
        <h1> Мои Посты </h1>
        <a href="post_create">
            <button class="btn btn-primary">+ Добавить Пост</button>
        </a>
    </div>
    {% for post in posts %}
        <div class="col-8">
            <div class="card card-chart">
                <div class="card-header ">
                    <div class="row">

                        <div class="col-sm-4">
                            <h4 class="card-title">{{ post.name }}</h4>
                            <p class="card-text">{{ post.text }}</p>
                        </div>

                        <div class="col-sm-4">
                            {% if photos %}
                                {% for photo in photos %}
                                    {% if photo.post == post %}
                                        <a href="/post_photo_update/{{ photo.id }}"><img class="img-thumbnail"
                                                                                         width="75px"
                                                                                         height="60px" src="
                                    {{ MEDIA_URL }}{{ photo.photos }}"></a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <br/>
                            {% if videos %}
                                {% for video in videos %}
                                    {% if video.post == post %}
                                        <a href="/post_video_update/{{ video.id }}">{{ video.video }}</a>
                                        <video width="150px" height="120px" controls>
                                            <source src="{{ MEDIA_URL }}{{ video.video }}">
                                        </video>

                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <br/>

                            {% if musics %}
                                {% for music in musics %}
                                    {% if music.post == post %}
                                        <a href="/post_music_update/{{ music.id }}">{{ music.music }}</a>
                                        <audio controls>
                                            <source src="{{ MEDIA_URL }}{{ music.music }}">
                                        </audio>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            <br/>

                            {% if documents %}
                                {% for document in documents %}
                                    {% if document.post == post %}
                                        <a href="/post_document_update/{{ document.id }}"
                                           download>{{ document.document }}</a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-sm-4">
                            <a href="post_update/{{ post.id }}">
                                <button class="btn btn-success text-dark col-12">
                                    <i class="fa fa-edit"></i> Редактировать
                                </button>
                            </a>
                            <br/>
                            <a href="post_delete/{{ post.id }}">
                                <button class="btn btn-danger text-dark col-12"><i
                                        class="fa fa-trash"></i> Удалить
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
